{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<section class="vh-100" style="background-color: #f8f9fa;">
  <h5 class=" lead fw-bold text-center"> Test Admin Login</h5>
                  <h6 class=" text-center">Email: admin@gmail.com | Password: Admin_pass</h6>
                  <hr class="my-4">
  <div class="container py-5 h-80">
    <div class="row d-flex justify-content-center align-items-center h-80">
      <div class="col col-xl-8">
        <div class="card shadow-lg border-0 rounded-lg overflow-hidden">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="p-5">
                  <img src="{% static 'assets/login.svg' %}" alt="login form" class="img-fluid" style="max-width: 100%;" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <h2 class="text-center">Login</h2>
                  
                  <form method="post" action="{% url 'accounts:login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.email.label_tag }}
                        {{ form.email|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label_tag }}
                        {{ form.password|add_class:"form-control" }}
                    </div>
                    <div class="d-grid">
                      <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
