{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-sm-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            Welcome! Let's Get Started.<br />
            <span class="text-primary">Create Your Ticket Now</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Have an issue, question, or suggestion? Don't hesitate! Creating a ticket is the fastest way to get the 
            assistance you need. Go ahead, click below to begin.
          </p>
        </div>

        <div class="col-lg-6 mb-3 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <h2 class="fw-bold mb-4">Create Your Ticket</h2>

                <form method="post">
                  {% csrf_token %}

                  <div class="mb-4">
                    {{ form.ticket_title.label_tag }}
                    {{ form.ticket_title|add_class:"form-control form-control-sm" }}
                  </div>

                  <div class="mb-4">
                    {{ form.ticket_description.label_tag }}
                    {{ form.ticket_description|add_class:"form-control form-control-sm" }}
                  </div>
                  <div class="mb-4">
                    {{ form.severity.label_tag }}
                    {{ form.severity|add_class:"form-control form-control-sm" }}
                  </div>

                  <div class="d-grid">
                    <button class="btn btn-primary btn-lg" type="submit">Let's Go!</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
{% endblock %}
