{% extends 'base.html' %}
{% load widget_tweaks %}
{% load humanize %}

{% block content %}
<div class="container my-4 p-4 border rounded bg-light">
    <div class="row justify-content-center mb-4">
        <div class="col-auto">
            <h2 class="display-6">Active Tickets</h2>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for ticket in tickets %}
        <div class="col d-flex align-items-stretch">
            <div class="card h-20 w-100 shadow-sm d-flex flex-column">
                <div class="card-body flex-grow-1">
                    <h5 class="card-title text-center">{{ ticket.ticket_title }}</h5>
                    <p class="card-text">
                        {% if ticket.status == 'Pending' %}
                        <span class="badge bg-warning">Pending</span>
                        {% elif ticket.status == 'Active' %}
                        <span class="badge bg-success">Active</span>
                        {% elif ticket.status == 'Resolved' %}
                        <span class="badge bg-danger">Resolved</span>
                        {% endif %}
                    </p>
                </div>
                <div class="card-footer bg-light">
                    <a href="{% url 'ticket-details' ticket.ticket_id %}" class="btn btn-primary btn-sm">Ticket Details</a>
                    <small class="text-muted d-block mt-2">Created {{ ticket.created_on | naturaltime }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
