{% extends 'base.html' %}
{% load widget_tweaks %}
{% load humanize %}

{% block content %}
<div class="container my-4 p-4 border rounded bg-light">
    <div class="row justify-content-center mb-4">
        <div class="col-auto">
            <h2 class="display-6">Resolved Tickets</h2>
        </div>
    </div>
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for ticket in tickets %}
    <div class="col">
        <div class="card h-100 d-flex flex-column align-items-stretch">
            <div class="card-body">
                <h5 class="card-title">{{ ticket.ticket_title }}</h5>
                <p class="card-text">
                    <span class="badge {% if ticket.status == 'Pending' %}bg-warning{% elif ticket.status == 'Active' %}bg-success{% elif ticket.status == 'Resolved' %}bg-danger{% endif %}">{{ ticket.status }}</span>
                </p>
            </div>
            <div class="card-footer">
                <a href="{% url 'ticket-details' ticket.ticket_id %}" class="btn btn-primary btn-sm">Ticket Details</a> <br>
                <small class="text-muted">Created {{ ticket.created_on | naturaltime }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock content %}
