{% extends 'base.html' %}
{% load widget_tweaks %}
{% load humanize %}

{% block content %}
<div class="container my-4 p-4 border rounded bg-light">
    <div class="row justify-content-center mb-4">
        <div class="col-auto">
            <h2 class="display-6">Ticket Details</h2>
        </div>
    </div>
<div class="container mb-4 mt-5">
    <div class="row p-5 mt-5 mb-4 bg-light rounded-3 shadow-lg">
        <div class="col-md-8">
            <div class="py-8">
                <h1 class="display-6 "><b>{{ ticket.ticket_title }}</b></h1>
                <p class="lead text-secondary">{{ ticket.ticket_description }}</p>
                <p class="card-text">
                    {% if ticket.status == 'Pending' %}
                    <span class="badge bg-warning">Pending</span>
                    {% elif ticket.status == 'Active' %}
                    <span class="badge bg-success">Active</span>
                    {% elif ticket.status == 'Resolved' %}
                    <span class="badge bg-danger">Resolved</span>
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-white rounded-3 shadow-lg">
                <div class="card-body">
                    <h2 class="display-6">Quick Info</h2>
                    <p class="text-secondary">Detailed info</p>
                    <ul class="icon-list">
                        <li>
                            {% if ticket.severity == 'Critical' %}
                                <i class="fas fa-skull-crossbones text-danger"></i>
                            {% elif ticket.severity == 'High' %}
                                <i class="fas fa-exclamation-triangle text-warning"></i>
                            {% elif ticket.severity == 'Medium' %}
                                <i class="fas fa-exclamation-circle text-info"></i>
                            {% elif ticket.severity == 'Low' %}
                                <i class="fas fa-info-circle text-success"></i>
                            {% else %}
                                <i class="fas fa-question-circle"></i>
                            {% endif %}
                            <b> Severity: </b> {{ ticket.severity }}
                        </li>
                        <li> <i class="fas fa-ticket-alt"></i> <b> Ticket Unique ID: </b> {{ticket.ticket_id}} </li>
                        <li> <i class="fas fa-user"></i> <b> Employee: </b> {{ticket.customer}} </li>
                        <li> <i class="fas fa-tools"></i> <b> Support: </b> {{ticket.engineer}} </li>
                        <li> <i class="far fa-calendar-alt"></i> <b> Created On: </b> {{ticket.created_on}} </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% if ticket.is_resolved %}
<div class="card">
    <div class="card-body">
        {{ticket.resolution_steps}}
    </div>
</div>
{% else %}
{% if request.user.is_engineer %}
<div class="card bg-light rounded-3 shadow-lg">
    <div class="card-body">
        <h5 class="card-title">Resolution Steps</h5>
        <form action="{% url 'resolve-ticket' ticket.ticket_id %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="resolution" class="form-label">Here is how the issue was resolved</label>
                <textarea class="form-control" id="resolution" name="resolution" rows="2"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Mark as resolved</button>
        </form>
    </div>
</div>
</div>
{% endif %}
{% endif %}
{% endblock content %}
